<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tay.futures.dao.CottonBatchMapper" >
  <resultMap id="BaseResultMap" type="com.tay.futures.entity.CottonBatch" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="production_code" property="productionCode" jdbcType="BIGINT" />
    <result column="colour_w1" property="colourW1" jdbcType="DOUBLE" />
    <result column="colour_w2" property="colourW2" jdbcType="DOUBLE" />
    <result column="colour_w3" property="colourW3" jdbcType="DOUBLE" />
    <result column="colour_w4" property="colourW4" jdbcType="DOUBLE" />
    <result column="colour_w5" property="colourW5" jdbcType="DOUBLE" />
    <result column="colour_l1" property="colourL1" jdbcType="DOUBLE" />
    <result column="colour_l2" property="colourL2" jdbcType="DOUBLE" />
    <result column="colour_l3" property="colourL3" jdbcType="DOUBLE" />
    <result column="colour_ly1" property="colourLy1" jdbcType="DOUBLE" />
    <result column="colour_ly2" property="colourLy2" jdbcType="DOUBLE" />
    <result column="colour_ly3" property="colourLy3" jdbcType="DOUBLE" />
    <result column="colour_y1" property="colourY1" jdbcType="DOUBLE" />
    <result column="colour_y2" property="colourY2" jdbcType="DOUBLE" />
    <result column="ginning_p1" property="ginningP1" jdbcType="DOUBLE" />
    <result column="ginning_p2" property="ginningP2" jdbcType="DOUBLE" />
    <result column="ginning_p3" property="ginningP3" jdbcType="DOUBLE" />
    <result column="avg_length" property="avgLength" jdbcType="DOUBLE" />
    <result column="avg_micronaire" property="avgMicronaire" jdbcType="DOUBLE" />
    <result column="avg_evenness" property="avgEvenness" jdbcType="DOUBLE" />
    <result column="strength" property="strength" jdbcType="DOUBLE" />
    <result column="miscellaneous" property="miscellaneous" jdbcType="DOUBLE" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="production_area" property="productionArea" jdbcType="VARCHAR" />
    <result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="length_32" property="length32" jdbcType="DOUBLE" />
    <result column="length_31" property="length31" jdbcType="DOUBLE" />
    <result column="length_30" property="length30" jdbcType="DOUBLE" />
    <result column="length_29" property="length29" jdbcType="DOUBLE" />
    <result column="length_28" property="length28" jdbcType="DOUBLE" />
    <result column="length_27" property="length27" jdbcType="DOUBLE" />
    <result column="length_26" property="length26" jdbcType="DOUBLE" />
    <result column="length_25" property="length25" jdbcType="DOUBLE" />
    <result column="micronaire_c1" property="micronaireC1" jdbcType="DOUBLE" />
    <result column="micronaire_b1" property="micronaireB1" jdbcType="DOUBLE" />
    <result column="micronaire_a" property="micronaireA" jdbcType="DOUBLE" />
    <result column="micronaire_b2" property="micronaireB2" jdbcType="DOUBLE" />
    <result column="micronaire_c2" property="micronaireC2" jdbcType="DOUBLE" />
    <result column="huichao" property="huichao" jdbcType="DOUBLE" />
    <result column="strength_max" property="strengthMax" jdbcType="DOUBLE" />
    <result column="strength_min" property="strengthMin" jdbcType="DOUBLE" />
    <result column="evenness_max" property="evennessMax" jdbcType="DOUBLE" />
    <result column="evenness_min" property="evennessMin" jdbcType="DOUBLE" />
    <result column="weight_gross" property="weightGross" jdbcType="DOUBLE" />
    <result column="weight_tare" property="weightTare" jdbcType="DOUBLE" />
    <result column="weight_net" property="weightNet" jdbcType="DOUBLE" />
    <result column="weight_conditoned" property="weightConditoned" jdbcType="DOUBLE" />
    <result column="jiagongleixing" property="jiagongleixing" jdbcType="VARCHAR" />
    <result column="package_num" property="packageNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, production_code, colour_w1, colour_w2, colour_w3, colour_w4, colour_w5, colour_l1, 
    colour_l2, colour_l3, colour_ly1, colour_ly2, colour_ly3, colour_y1, colour_y2, ginning_p1, 
    ginning_p2, ginning_p3, avg_length, avg_micronaire, avg_evenness, strength, miscellaneous, 
    factory, production_area, warehouse, remark, length_32, length_31, length_30, length_29, 
    length_28, length_27, length_26, length_25, micronaire_c1, micronaire_b1, micronaire_a, 
    micronaire_b2, micronaire_c2, huichao, strength_max, strength_min, evenness_max, 
    evenness_min, weight_gross, weight_tare, weight_net, weight_conditoned, jiagongleixing, 
    package_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tay.futures.entity.CottonBatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cotton_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cotton_batch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cotton_batch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tay.futures.entity.CottonBatchExample" >
    delete from cotton_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tay.futures.entity.CottonBatch" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cotton_batch (production_code, colour_w1, colour_w2, 
      colour_w3, colour_w4, colour_w5, 
      colour_l1, colour_l2, colour_l3, 
      colour_ly1, colour_ly2, colour_ly3, 
      colour_y1, colour_y2, ginning_p1, 
      ginning_p2, ginning_p3, avg_length, 
      avg_micronaire, avg_evenness, strength, 
      miscellaneous, factory, production_area, 
      warehouse, remark, length_32, 
      length_31, length_30, length_29, 
      length_28, length_27, length_26, 
      length_25, micronaire_c1, micronaire_b1, 
      micronaire_a, micronaire_b2, micronaire_c2, 
      huichao, strength_max, strength_min, 
      evenness_max, evenness_min, weight_gross, 
      weight_tare, weight_net, weight_conditoned, 
      jiagongleixing, package_num)
    values (#{productionCode,jdbcType=BIGINT}, #{colourW1,jdbcType=DOUBLE}, #{colourW2,jdbcType=DOUBLE}, 
      #{colourW3,jdbcType=DOUBLE}, #{colourW4,jdbcType=DOUBLE}, #{colourW5,jdbcType=DOUBLE}, 
      #{colourL1,jdbcType=DOUBLE}, #{colourL2,jdbcType=DOUBLE}, #{colourL3,jdbcType=DOUBLE}, 
      #{colourLy1,jdbcType=DOUBLE}, #{colourLy2,jdbcType=DOUBLE}, #{colourLy3,jdbcType=DOUBLE}, 
      #{colourY1,jdbcType=DOUBLE}, #{colourY2,jdbcType=DOUBLE}, #{ginningP1,jdbcType=DOUBLE}, 
      #{ginningP2,jdbcType=DOUBLE}, #{ginningP3,jdbcType=DOUBLE}, #{avgLength,jdbcType=DOUBLE}, 
      #{avgMicronaire,jdbcType=DOUBLE}, #{avgEvenness,jdbcType=DOUBLE}, #{strength,jdbcType=DOUBLE}, 
      #{miscellaneous,jdbcType=DOUBLE}, #{factory,jdbcType=VARCHAR}, #{productionArea,jdbcType=VARCHAR}, 
      #{warehouse,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{length32,jdbcType=DOUBLE}, 
      #{length31,jdbcType=DOUBLE}, #{length30,jdbcType=DOUBLE}, #{length29,jdbcType=DOUBLE}, 
      #{length28,jdbcType=DOUBLE}, #{length27,jdbcType=DOUBLE}, #{length26,jdbcType=DOUBLE}, 
      #{length25,jdbcType=DOUBLE}, #{micronaireC1,jdbcType=DOUBLE}, #{micronaireB1,jdbcType=DOUBLE}, 
      #{micronaireA,jdbcType=DOUBLE}, #{micronaireB2,jdbcType=DOUBLE}, #{micronaireC2,jdbcType=DOUBLE}, 
      #{huichao,jdbcType=DOUBLE}, #{strengthMax,jdbcType=DOUBLE}, #{strengthMin,jdbcType=DOUBLE}, 
      #{evennessMax,jdbcType=DOUBLE}, #{evennessMin,jdbcType=DOUBLE}, #{weightGross,jdbcType=DOUBLE}, 
      #{weightTare,jdbcType=DOUBLE}, #{weightNet,jdbcType=DOUBLE}, #{weightConditoned,jdbcType=DOUBLE}, 
      #{jiagongleixing,jdbcType=VARCHAR}, #{packageNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tay.futures.entity.CottonBatch" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cotton_batch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productionCode != null" >
        production_code,
      </if>
      <if test="colourW1 != null" >
        colour_w1,
      </if>
      <if test="colourW2 != null" >
        colour_w2,
      </if>
      <if test="colourW3 != null" >
        colour_w3,
      </if>
      <if test="colourW4 != null" >
        colour_w4,
      </if>
      <if test="colourW5 != null" >
        colour_w5,
      </if>
      <if test="colourL1 != null" >
        colour_l1,
      </if>
      <if test="colourL2 != null" >
        colour_l2,
      </if>
      <if test="colourL3 != null" >
        colour_l3,
      </if>
      <if test="colourLy1 != null" >
        colour_ly1,
      </if>
      <if test="colourLy2 != null" >
        colour_ly2,
      </if>
      <if test="colourLy3 != null" >
        colour_ly3,
      </if>
      <if test="colourY1 != null" >
        colour_y1,
      </if>
      <if test="colourY2 != null" >
        colour_y2,
      </if>
      <if test="ginningP1 != null" >
        ginning_p1,
      </if>
      <if test="ginningP2 != null" >
        ginning_p2,
      </if>
      <if test="ginningP3 != null" >
        ginning_p3,
      </if>
      <if test="avgLength != null" >
        avg_length,
      </if>
      <if test="avgMicronaire != null" >
        avg_micronaire,
      </if>
      <if test="avgEvenness != null" >
        avg_evenness,
      </if>
      <if test="strength != null" >
        strength,
      </if>
      <if test="miscellaneous != null" >
        miscellaneous,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="productionArea != null" >
        production_area,
      </if>
      <if test="warehouse != null" >
        warehouse,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="length32 != null" >
        length_32,
      </if>
      <if test="length31 != null" >
        length_31,
      </if>
      <if test="length30 != null" >
        length_30,
      </if>
      <if test="length29 != null" >
        length_29,
      </if>
      <if test="length28 != null" >
        length_28,
      </if>
      <if test="length27 != null" >
        length_27,
      </if>
      <if test="length26 != null" >
        length_26,
      </if>
      <if test="length25 != null" >
        length_25,
      </if>
      <if test="micronaireC1 != null" >
        micronaire_c1,
      </if>
      <if test="micronaireB1 != null" >
        micronaire_b1,
      </if>
      <if test="micronaireA != null" >
        micronaire_a,
      </if>
      <if test="micronaireB2 != null" >
        micronaire_b2,
      </if>
      <if test="micronaireC2 != null" >
        micronaire_c2,
      </if>
      <if test="huichao != null" >
        huichao,
      </if>
      <if test="strengthMax != null" >
        strength_max,
      </if>
      <if test="strengthMin != null" >
        strength_min,
      </if>
      <if test="evennessMax != null" >
        evenness_max,
      </if>
      <if test="evennessMin != null" >
        evenness_min,
      </if>
      <if test="weightGross != null" >
        weight_gross,
      </if>
      <if test="weightTare != null" >
        weight_tare,
      </if>
      <if test="weightNet != null" >
        weight_net,
      </if>
      <if test="weightConditoned != null" >
        weight_conditoned,
      </if>
      <if test="jiagongleixing != null" >
        jiagongleixing,
      </if>
      <if test="packageNum != null" >
        package_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productionCode != null" >
        #{productionCode,jdbcType=BIGINT},
      </if>
      <if test="colourW1 != null" >
        #{colourW1,jdbcType=DOUBLE},
      </if>
      <if test="colourW2 != null" >
        #{colourW2,jdbcType=DOUBLE},
      </if>
      <if test="colourW3 != null" >
        #{colourW3,jdbcType=DOUBLE},
      </if>
      <if test="colourW4 != null" >
        #{colourW4,jdbcType=DOUBLE},
      </if>
      <if test="colourW5 != null" >
        #{colourW5,jdbcType=DOUBLE},
      </if>
      <if test="colourL1 != null" >
        #{colourL1,jdbcType=DOUBLE},
      </if>
      <if test="colourL2 != null" >
        #{colourL2,jdbcType=DOUBLE},
      </if>
      <if test="colourL3 != null" >
        #{colourL3,jdbcType=DOUBLE},
      </if>
      <if test="colourLy1 != null" >
        #{colourLy1,jdbcType=DOUBLE},
      </if>
      <if test="colourLy2 != null" >
        #{colourLy2,jdbcType=DOUBLE},
      </if>
      <if test="colourLy3 != null" >
        #{colourLy3,jdbcType=DOUBLE},
      </if>
      <if test="colourY1 != null" >
        #{colourY1,jdbcType=DOUBLE},
      </if>
      <if test="colourY2 != null" >
        #{colourY2,jdbcType=DOUBLE},
      </if>
      <if test="ginningP1 != null" >
        #{ginningP1,jdbcType=DOUBLE},
      </if>
      <if test="ginningP2 != null" >
        #{ginningP2,jdbcType=DOUBLE},
      </if>
      <if test="ginningP3 != null" >
        #{ginningP3,jdbcType=DOUBLE},
      </if>
      <if test="avgLength != null" >
        #{avgLength,jdbcType=DOUBLE},
      </if>
      <if test="avgMicronaire != null" >
        #{avgMicronaire,jdbcType=DOUBLE},
      </if>
      <if test="avgEvenness != null" >
        #{avgEvenness,jdbcType=DOUBLE},
      </if>
      <if test="strength != null" >
        #{strength,jdbcType=DOUBLE},
      </if>
      <if test="miscellaneous != null" >
        #{miscellaneous,jdbcType=DOUBLE},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="productionArea != null" >
        #{productionArea,jdbcType=VARCHAR},
      </if>
      <if test="warehouse != null" >
        #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="length32 != null" >
        #{length32,jdbcType=DOUBLE},
      </if>
      <if test="length31 != null" >
        #{length31,jdbcType=DOUBLE},
      </if>
      <if test="length30 != null" >
        #{length30,jdbcType=DOUBLE},
      </if>
      <if test="length29 != null" >
        #{length29,jdbcType=DOUBLE},
      </if>
      <if test="length28 != null" >
        #{length28,jdbcType=DOUBLE},
      </if>
      <if test="length27 != null" >
        #{length27,jdbcType=DOUBLE},
      </if>
      <if test="length26 != null" >
        #{length26,jdbcType=DOUBLE},
      </if>
      <if test="length25 != null" >
        #{length25,jdbcType=DOUBLE},
      </if>
      <if test="micronaireC1 != null" >
        #{micronaireC1,jdbcType=DOUBLE},
      </if>
      <if test="micronaireB1 != null" >
        #{micronaireB1,jdbcType=DOUBLE},
      </if>
      <if test="micronaireA != null" >
        #{micronaireA,jdbcType=DOUBLE},
      </if>
      <if test="micronaireB2 != null" >
        #{micronaireB2,jdbcType=DOUBLE},
      </if>
      <if test="micronaireC2 != null" >
        #{micronaireC2,jdbcType=DOUBLE},
      </if>
      <if test="huichao != null" >
        #{huichao,jdbcType=DOUBLE},
      </if>
      <if test="strengthMax != null" >
        #{strengthMax,jdbcType=DOUBLE},
      </if>
      <if test="strengthMin != null" >
        #{strengthMin,jdbcType=DOUBLE},
      </if>
      <if test="evennessMax != null" >
        #{evennessMax,jdbcType=DOUBLE},
      </if>
      <if test="evennessMin != null" >
        #{evennessMin,jdbcType=DOUBLE},
      </if>
      <if test="weightGross != null" >
        #{weightGross,jdbcType=DOUBLE},
      </if>
      <if test="weightTare != null" >
        #{weightTare,jdbcType=DOUBLE},
      </if>
      <if test="weightNet != null" >
        #{weightNet,jdbcType=DOUBLE},
      </if>
      <if test="weightConditoned != null" >
        #{weightConditoned,jdbcType=DOUBLE},
      </if>
      <if test="jiagongleixing != null" >
        #{jiagongleixing,jdbcType=VARCHAR},
      </if>
      <if test="packageNum != null" >
        #{packageNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tay.futures.entity.CottonBatchExample" resultType="java.lang.Integer" >
    select count(*) from cotton_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cotton_batch
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.productionCode != null" >
        production_code = #{record.productionCode,jdbcType=BIGINT},
      </if>
      <if test="record.colourW1 != null" >
        colour_w1 = #{record.colourW1,jdbcType=DOUBLE},
      </if>
      <if test="record.colourW2 != null" >
        colour_w2 = #{record.colourW2,jdbcType=DOUBLE},
      </if>
      <if test="record.colourW3 != null" >
        colour_w3 = #{record.colourW3,jdbcType=DOUBLE},
      </if>
      <if test="record.colourW4 != null" >
        colour_w4 = #{record.colourW4,jdbcType=DOUBLE},
      </if>
      <if test="record.colourW5 != null" >
        colour_w5 = #{record.colourW5,jdbcType=DOUBLE},
      </if>
      <if test="record.colourL1 != null" >
        colour_l1 = #{record.colourL1,jdbcType=DOUBLE},
      </if>
      <if test="record.colourL2 != null" >
        colour_l2 = #{record.colourL2,jdbcType=DOUBLE},
      </if>
      <if test="record.colourL3 != null" >
        colour_l3 = #{record.colourL3,jdbcType=DOUBLE},
      </if>
      <if test="record.colourLy1 != null" >
        colour_ly1 = #{record.colourLy1,jdbcType=DOUBLE},
      </if>
      <if test="record.colourLy2 != null" >
        colour_ly2 = #{record.colourLy2,jdbcType=DOUBLE},
      </if>
      <if test="record.colourLy3 != null" >
        colour_ly3 = #{record.colourLy3,jdbcType=DOUBLE},
      </if>
      <if test="record.colourY1 != null" >
        colour_y1 = #{record.colourY1,jdbcType=DOUBLE},
      </if>
      <if test="record.colourY2 != null" >
        colour_y2 = #{record.colourY2,jdbcType=DOUBLE},
      </if>
      <if test="record.ginningP1 != null" >
        ginning_p1 = #{record.ginningP1,jdbcType=DOUBLE},
      </if>
      <if test="record.ginningP2 != null" >
        ginning_p2 = #{record.ginningP2,jdbcType=DOUBLE},
      </if>
      <if test="record.ginningP3 != null" >
        ginning_p3 = #{record.ginningP3,jdbcType=DOUBLE},
      </if>
      <if test="record.avgLength != null" >
        avg_length = #{record.avgLength,jdbcType=DOUBLE},
      </if>
      <if test="record.avgMicronaire != null" >
        avg_micronaire = #{record.avgMicronaire,jdbcType=DOUBLE},
      </if>
      <if test="record.avgEvenness != null" >
        avg_evenness = #{record.avgEvenness,jdbcType=DOUBLE},
      </if>
      <if test="record.strength != null" >
        strength = #{record.strength,jdbcType=DOUBLE},
      </if>
      <if test="record.miscellaneous != null" >
        miscellaneous = #{record.miscellaneous,jdbcType=DOUBLE},
      </if>
      <if test="record.factory != null" >
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.productionArea != null" >
        production_area = #{record.productionArea,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouse != null" >
        warehouse = #{record.warehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.length32 != null" >
        length_32 = #{record.length32,jdbcType=DOUBLE},
      </if>
      <if test="record.length31 != null" >
        length_31 = #{record.length31,jdbcType=DOUBLE},
      </if>
      <if test="record.length30 != null" >
        length_30 = #{record.length30,jdbcType=DOUBLE},
      </if>
      <if test="record.length29 != null" >
        length_29 = #{record.length29,jdbcType=DOUBLE},
      </if>
      <if test="record.length28 != null" >
        length_28 = #{record.length28,jdbcType=DOUBLE},
      </if>
      <if test="record.length27 != null" >
        length_27 = #{record.length27,jdbcType=DOUBLE},
      </if>
      <if test="record.length26 != null" >
        length_26 = #{record.length26,jdbcType=DOUBLE},
      </if>
      <if test="record.length25 != null" >
        length_25 = #{record.length25,jdbcType=DOUBLE},
      </if>
      <if test="record.micronaireC1 != null" >
        micronaire_c1 = #{record.micronaireC1,jdbcType=DOUBLE},
      </if>
      <if test="record.micronaireB1 != null" >
        micronaire_b1 = #{record.micronaireB1,jdbcType=DOUBLE},
      </if>
      <if test="record.micronaireA != null" >
        micronaire_a = #{record.micronaireA,jdbcType=DOUBLE},
      </if>
      <if test="record.micronaireB2 != null" >
        micronaire_b2 = #{record.micronaireB2,jdbcType=DOUBLE},
      </if>
      <if test="record.micronaireC2 != null" >
        micronaire_c2 = #{record.micronaireC2,jdbcType=DOUBLE},
      </if>
      <if test="record.huichao != null" >
        huichao = #{record.huichao,jdbcType=DOUBLE},
      </if>
      <if test="record.strengthMax != null" >
        strength_max = #{record.strengthMax,jdbcType=DOUBLE},
      </if>
      <if test="record.strengthMin != null" >
        strength_min = #{record.strengthMin,jdbcType=DOUBLE},
      </if>
      <if test="record.evennessMax != null" >
        evenness_max = #{record.evennessMax,jdbcType=DOUBLE},
      </if>
      <if test="record.evennessMin != null" >
        evenness_min = #{record.evennessMin,jdbcType=DOUBLE},
      </if>
      <if test="record.weightGross != null" >
        weight_gross = #{record.weightGross,jdbcType=DOUBLE},
      </if>
      <if test="record.weightTare != null" >
        weight_tare = #{record.weightTare,jdbcType=DOUBLE},
      </if>
      <if test="record.weightNet != null" >
        weight_net = #{record.weightNet,jdbcType=DOUBLE},
      </if>
      <if test="record.weightConditoned != null" >
        weight_conditoned = #{record.weightConditoned,jdbcType=DOUBLE},
      </if>
      <if test="record.jiagongleixing != null" >
        jiagongleixing = #{record.jiagongleixing,jdbcType=VARCHAR},
      </if>
      <if test="record.packageNum != null" >
        package_num = #{record.packageNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cotton_batch
    set id = #{record.id,jdbcType=BIGINT},
      production_code = #{record.productionCode,jdbcType=BIGINT},
      colour_w1 = #{record.colourW1,jdbcType=DOUBLE},
      colour_w2 = #{record.colourW2,jdbcType=DOUBLE},
      colour_w3 = #{record.colourW3,jdbcType=DOUBLE},
      colour_w4 = #{record.colourW4,jdbcType=DOUBLE},
      colour_w5 = #{record.colourW5,jdbcType=DOUBLE},
      colour_l1 = #{record.colourL1,jdbcType=DOUBLE},
      colour_l2 = #{record.colourL2,jdbcType=DOUBLE},
      colour_l3 = #{record.colourL3,jdbcType=DOUBLE},
      colour_ly1 = #{record.colourLy1,jdbcType=DOUBLE},
      colour_ly2 = #{record.colourLy2,jdbcType=DOUBLE},
      colour_ly3 = #{record.colourLy3,jdbcType=DOUBLE},
      colour_y1 = #{record.colourY1,jdbcType=DOUBLE},
      colour_y2 = #{record.colourY2,jdbcType=DOUBLE},
      ginning_p1 = #{record.ginningP1,jdbcType=DOUBLE},
      ginning_p2 = #{record.ginningP2,jdbcType=DOUBLE},
      ginning_p3 = #{record.ginningP3,jdbcType=DOUBLE},
      avg_length = #{record.avgLength,jdbcType=DOUBLE},
      avg_micronaire = #{record.avgMicronaire,jdbcType=DOUBLE},
      avg_evenness = #{record.avgEvenness,jdbcType=DOUBLE},
      strength = #{record.strength,jdbcType=DOUBLE},
      miscellaneous = #{record.miscellaneous,jdbcType=DOUBLE},
      factory = #{record.factory,jdbcType=VARCHAR},
      production_area = #{record.productionArea,jdbcType=VARCHAR},
      warehouse = #{record.warehouse,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      length_32 = #{record.length32,jdbcType=DOUBLE},
      length_31 = #{record.length31,jdbcType=DOUBLE},
      length_30 = #{record.length30,jdbcType=DOUBLE},
      length_29 = #{record.length29,jdbcType=DOUBLE},
      length_28 = #{record.length28,jdbcType=DOUBLE},
      length_27 = #{record.length27,jdbcType=DOUBLE},
      length_26 = #{record.length26,jdbcType=DOUBLE},
      length_25 = #{record.length25,jdbcType=DOUBLE},
      micronaire_c1 = #{record.micronaireC1,jdbcType=DOUBLE},
      micronaire_b1 = #{record.micronaireB1,jdbcType=DOUBLE},
      micronaire_a = #{record.micronaireA,jdbcType=DOUBLE},
      micronaire_b2 = #{record.micronaireB2,jdbcType=DOUBLE},
      micronaire_c2 = #{record.micronaireC2,jdbcType=DOUBLE},
      huichao = #{record.huichao,jdbcType=DOUBLE},
      strength_max = #{record.strengthMax,jdbcType=DOUBLE},
      strength_min = #{record.strengthMin,jdbcType=DOUBLE},
      evenness_max = #{record.evennessMax,jdbcType=DOUBLE},
      evenness_min = #{record.evennessMin,jdbcType=DOUBLE},
      weight_gross = #{record.weightGross,jdbcType=DOUBLE},
      weight_tare = #{record.weightTare,jdbcType=DOUBLE},
      weight_net = #{record.weightNet,jdbcType=DOUBLE},
      weight_conditoned = #{record.weightConditoned,jdbcType=DOUBLE},
      jiagongleixing = #{record.jiagongleixing,jdbcType=VARCHAR},
      package_num = #{record.packageNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tay.futures.entity.CottonBatch" >
    update cotton_batch
    <set >
      <if test="productionCode != null" >
        production_code = #{productionCode,jdbcType=BIGINT},
      </if>
      <if test="colourW1 != null" >
        colour_w1 = #{colourW1,jdbcType=DOUBLE},
      </if>
      <if test="colourW2 != null" >
        colour_w2 = #{colourW2,jdbcType=DOUBLE},
      </if>
      <if test="colourW3 != null" >
        colour_w3 = #{colourW3,jdbcType=DOUBLE},
      </if>
      <if test="colourW4 != null" >
        colour_w4 = #{colourW4,jdbcType=DOUBLE},
      </if>
      <if test="colourW5 != null" >
        colour_w5 = #{colourW5,jdbcType=DOUBLE},
      </if>
      <if test="colourL1 != null" >
        colour_l1 = #{colourL1,jdbcType=DOUBLE},
      </if>
      <if test="colourL2 != null" >
        colour_l2 = #{colourL2,jdbcType=DOUBLE},
      </if>
      <if test="colourL3 != null" >
        colour_l3 = #{colourL3,jdbcType=DOUBLE},
      </if>
      <if test="colourLy1 != null" >
        colour_ly1 = #{colourLy1,jdbcType=DOUBLE},
      </if>
      <if test="colourLy2 != null" >
        colour_ly2 = #{colourLy2,jdbcType=DOUBLE},
      </if>
      <if test="colourLy3 != null" >
        colour_ly3 = #{colourLy3,jdbcType=DOUBLE},
      </if>
      <if test="colourY1 != null" >
        colour_y1 = #{colourY1,jdbcType=DOUBLE},
      </if>
      <if test="colourY2 != null" >
        colour_y2 = #{colourY2,jdbcType=DOUBLE},
      </if>
      <if test="ginningP1 != null" >
        ginning_p1 = #{ginningP1,jdbcType=DOUBLE},
      </if>
      <if test="ginningP2 != null" >
        ginning_p2 = #{ginningP2,jdbcType=DOUBLE},
      </if>
      <if test="ginningP3 != null" >
        ginning_p3 = #{ginningP3,jdbcType=DOUBLE},
      </if>
      <if test="avgLength != null" >
        avg_length = #{avgLength,jdbcType=DOUBLE},
      </if>
      <if test="avgMicronaire != null" >
        avg_micronaire = #{avgMicronaire,jdbcType=DOUBLE},
      </if>
      <if test="avgEvenness != null" >
        avg_evenness = #{avgEvenness,jdbcType=DOUBLE},
      </if>
      <if test="strength != null" >
        strength = #{strength,jdbcType=DOUBLE},
      </if>
      <if test="miscellaneous != null" >
        miscellaneous = #{miscellaneous,jdbcType=DOUBLE},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="productionArea != null" >
        production_area = #{productionArea,jdbcType=VARCHAR},
      </if>
      <if test="warehouse != null" >
        warehouse = #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="length32 != null" >
        length_32 = #{length32,jdbcType=DOUBLE},
      </if>
      <if test="length31 != null" >
        length_31 = #{length31,jdbcType=DOUBLE},
      </if>
      <if test="length30 != null" >
        length_30 = #{length30,jdbcType=DOUBLE},
      </if>
      <if test="length29 != null" >
        length_29 = #{length29,jdbcType=DOUBLE},
      </if>
      <if test="length28 != null" >
        length_28 = #{length28,jdbcType=DOUBLE},
      </if>
      <if test="length27 != null" >
        length_27 = #{length27,jdbcType=DOUBLE},
      </if>
      <if test="length26 != null" >
        length_26 = #{length26,jdbcType=DOUBLE},
      </if>
      <if test="length25 != null" >
        length_25 = #{length25,jdbcType=DOUBLE},
      </if>
      <if test="micronaireC1 != null" >
        micronaire_c1 = #{micronaireC1,jdbcType=DOUBLE},
      </if>
      <if test="micronaireB1 != null" >
        micronaire_b1 = #{micronaireB1,jdbcType=DOUBLE},
      </if>
      <if test="micronaireA != null" >
        micronaire_a = #{micronaireA,jdbcType=DOUBLE},
      </if>
      <if test="micronaireB2 != null" >
        micronaire_b2 = #{micronaireB2,jdbcType=DOUBLE},
      </if>
      <if test="micronaireC2 != null" >
        micronaire_c2 = #{micronaireC2,jdbcType=DOUBLE},
      </if>
      <if test="huichao != null" >
        huichao = #{huichao,jdbcType=DOUBLE},
      </if>
      <if test="strengthMax != null" >
        strength_max = #{strengthMax,jdbcType=DOUBLE},
      </if>
      <if test="strengthMin != null" >
        strength_min = #{strengthMin,jdbcType=DOUBLE},
      </if>
      <if test="evennessMax != null" >
        evenness_max = #{evennessMax,jdbcType=DOUBLE},
      </if>
      <if test="evennessMin != null" >
        evenness_min = #{evennessMin,jdbcType=DOUBLE},
      </if>
      <if test="weightGross != null" >
        weight_gross = #{weightGross,jdbcType=DOUBLE},
      </if>
      <if test="weightTare != null" >
        weight_tare = #{weightTare,jdbcType=DOUBLE},
      </if>
      <if test="weightNet != null" >
        weight_net = #{weightNet,jdbcType=DOUBLE},
      </if>
      <if test="weightConditoned != null" >
        weight_conditoned = #{weightConditoned,jdbcType=DOUBLE},
      </if>
      <if test="jiagongleixing != null" >
        jiagongleixing = #{jiagongleixing,jdbcType=VARCHAR},
      </if>
      <if test="packageNum != null" >
        package_num = #{packageNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tay.futures.entity.CottonBatch" >
    update cotton_batch
    set production_code = #{productionCode,jdbcType=BIGINT},
      colour_w1 = #{colourW1,jdbcType=DOUBLE},
      colour_w2 = #{colourW2,jdbcType=DOUBLE},
      colour_w3 = #{colourW3,jdbcType=DOUBLE},
      colour_w4 = #{colourW4,jdbcType=DOUBLE},
      colour_w5 = #{colourW5,jdbcType=DOUBLE},
      colour_l1 = #{colourL1,jdbcType=DOUBLE},
      colour_l2 = #{colourL2,jdbcType=DOUBLE},
      colour_l3 = #{colourL3,jdbcType=DOUBLE},
      colour_ly1 = #{colourLy1,jdbcType=DOUBLE},
      colour_ly2 = #{colourLy2,jdbcType=DOUBLE},
      colour_ly3 = #{colourLy3,jdbcType=DOUBLE},
      colour_y1 = #{colourY1,jdbcType=DOUBLE},
      colour_y2 = #{colourY2,jdbcType=DOUBLE},
      ginning_p1 = #{ginningP1,jdbcType=DOUBLE},
      ginning_p2 = #{ginningP2,jdbcType=DOUBLE},
      ginning_p3 = #{ginningP3,jdbcType=DOUBLE},
      avg_length = #{avgLength,jdbcType=DOUBLE},
      avg_micronaire = #{avgMicronaire,jdbcType=DOUBLE},
      avg_evenness = #{avgEvenness,jdbcType=DOUBLE},
      strength = #{strength,jdbcType=DOUBLE},
      miscellaneous = #{miscellaneous,jdbcType=DOUBLE},
      factory = #{factory,jdbcType=VARCHAR},
      production_area = #{productionArea,jdbcType=VARCHAR},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      length_32 = #{length32,jdbcType=DOUBLE},
      length_31 = #{length31,jdbcType=DOUBLE},
      length_30 = #{length30,jdbcType=DOUBLE},
      length_29 = #{length29,jdbcType=DOUBLE},
      length_28 = #{length28,jdbcType=DOUBLE},
      length_27 = #{length27,jdbcType=DOUBLE},
      length_26 = #{length26,jdbcType=DOUBLE},
      length_25 = #{length25,jdbcType=DOUBLE},
      micronaire_c1 = #{micronaireC1,jdbcType=DOUBLE},
      micronaire_b1 = #{micronaireB1,jdbcType=DOUBLE},
      micronaire_a = #{micronaireA,jdbcType=DOUBLE},
      micronaire_b2 = #{micronaireB2,jdbcType=DOUBLE},
      micronaire_c2 = #{micronaireC2,jdbcType=DOUBLE},
      huichao = #{huichao,jdbcType=DOUBLE},
      strength_max = #{strengthMax,jdbcType=DOUBLE},
      strength_min = #{strengthMin,jdbcType=DOUBLE},
      evenness_max = #{evennessMax,jdbcType=DOUBLE},
      evenness_min = #{evennessMin,jdbcType=DOUBLE},
      weight_gross = #{weightGross,jdbcType=DOUBLE},
      weight_tare = #{weightTare,jdbcType=DOUBLE},
      weight_net = #{weightNet,jdbcType=DOUBLE},
      weight_conditoned = #{weightConditoned,jdbcType=DOUBLE},
      jiagongleixing = #{jiagongleixing,jdbcType=VARCHAR},
      package_num = #{packageNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>